/* table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;

    border-color: black;
    border-width: 5px;
    margin-top: 100px;
}


tb, td, th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
} */


table {

    /* margin-top: 1000px; */
    width: 80vw;
    border-collapse: collapse;
    margin: 20vh 10vw;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

table th,
table td {
    padding: 12px 15px;
}

table  tr {
    border-bottom: 1px solid #dddddd;
}

table  tr:nth-of-type(even) {
    background-color: lightgrey;
}

table  tr:last-of-type {
    border-bottom: 2px solid #009879;
}

