<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
    <title>Career Path</title>
  </head>
  <body>
    <nav>
      <div class="container">
        <h1>My Site</h1>
        <ul>
          <li><a href="{{ url_for('index') }}">Home</a></li>
          <li><a href="{{ url_for('login') }}">Login</a></li>
        </ul>
      </div>
    </nav>
    <div class="full-width-div">
      <div class="content">
        <h1>{{txt}}</h1>
        
      </div>
      <!-- Below div has a text area with a button below it -->
      
      </div>
    </div>

    <!-- hello -->
  </body>
</html>
